{% extends "components/base.html" %}

{% block title %}
    Page de login
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename='css/data_tab.css') }}" />
{% endblock %}

{% block content %}
    <table class="data_tab">
        <thead>
            <tr>
                {% for i in colonnes %}
                    <th> {{ i }} </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% if parties|length != 0 %}
                {% for partie in parties %}
                    <tr>
                        {% for value in partie %}
                            <td> {{ value }} </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            {% else %}
                <td colspan="{{ colonnes|length }}">
                    Aucune donnée à afficher
                </td>
            {% endif %}
        </tbody>
    </table>

{% endblock %}


