{% extends "components/base.html" %}

{% block title %}
    Page d'accueil
{% endblock %}


{% block content %}
    <script type="text/javascript" src="../../static/js/Jeu.js"></script>
    <div id="tableau" class="tableau">
        <table class="grille_jeu">
            <tbody id="table">
            {% for ligne in range(0, nb_essais) %}
                <tr id="ligne{{ ligne }}">
                {% for colonne in range(0, nb_lettres) %}
                    <td id="l{{ ligne }}c{{ colonne }}"> <!-- id de la case de ligne x colonne y : lxcy -->
                        X
                    </td>
                {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div id="clavier">
        {% set clavier = ['A','Z','E','R','T','Y','U','I','O','P'],
        ['Q','S','D','F','G','H','J','K','L','M'],
        ['W','X','C','V','B','N'] %}
        {% for ligne in clavier %}
            <div class="ligne">
                {% for lettre in ligne %}
                    <div class="lettre" key_id="{{ lettre }}">  {{ lettre }}</div>
                {% endfor %}
            </div>
        {% endfor %}
        <div class="ligne">
            <div class="control_btn">Valider</div>
            <div class="control_btn">⌫</div>
        </div>
    </div>
    <div id="Erreurs" style="display: none"></div>

{% endblock %}


