{% extends "components/base.html" %}

{% block title %}
    Page d'accueil
{% endblock %}

{% block content %}
    <div class="leadergrid">

        <table class="leaderboard">
                <tr>
                    <th>Rank</th>
                    <th>Pseudo</th>
                    <th>Score</th>
                </tr>
            {% for i in range(top) %}
                <tr>
                    <td><span id="color-{{ i+ 1 }}">#{{ i+ 1 }}</span></td>
                    <td>{{ leaderboard[i][0] }}</td>
                    <td>{{ leaderboard[i][1] }}</td>
                </tr>
            {% endfor %}
        </table>

        <div class="stats-block">
            <div class="stats">
                {% if  statistiques != None%}
                <ul>
                    <li> <b>{{ pseudo }}</b></li>
                    <hr>
                    <li>Rang: #{{ statistiques[0] }}</li>
                    <hr>
                    <li>Score: {{ statistiques[1] }}</li>
                    <hr>
                    <li>Parties jouées: {{ statistiques[2] }}</li>
                    <hr>
                    <li>Parties gagnées: {{ statistiques[3] }}</li>
                    <hr>
                    <li>Taux de victoire: {{ statistiques[4] }}%</li>
                    <hr>
                    <li>Longueur préférée: {{ statistiques[5] }}</li>
                    <hr>
                    <li>Difficulté préférée: {{ statistiques[6] }}</li>
                </ul>
                {% else %}
                <ul>
                    <li>Connectez vous pour voir vos statistiques</li>
                </ul>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}