{% extends "components/base.html" %}

{% block title %}
    Page de login
{% endblock %}

{% block content %}
    <!--Il reste quoi à faire ici-->
    <div class="body">
        <form action="/login" method ="POST">
        <div class="form">
            <input autocomplete="off" autofocus name="pseudo" placeholder="pseudo" type="text">
        </div>
        <div class="form">
            <input  name="password" placeholder="password" type="password">
        </div>
        <div class="form">
            <input class="log-btn" type="submit" value="Login">
        </div>
        </form>
    </div>
    <hr class="ligne">
    <div class="body">
        <form action="/inscription" method ="POST">
            <div class="form">
                <input autocomplete="off" autofocus name="pseudo" placeholder="pseudo" type="text">
            </div>
            <div class="form">
                <input name="password" placeholder="password" type="password">
            </div>
            <div class="form">
                <input class="ins-btn" type="submit" value="Inscription">
            </div>
        </form>
    </div>
{% endblock %}


