{% extends "components/base.html" %}

{% block title %}
    Page d'accueil
{% endblock %}

{% block content %}
    <p><b>Bienvenue sur notre application !</b></p>

    <table class="center">
        <tbody class="text">
            <form action="/" method="POST">
            <tr>
                <td><input type="range" id="taille" name="taille" style="width: 100vh;"
                    value="6" min="3" max="15" oninput="this.nextElementSibling.value = this.value">
                    Mot de <output>6</output> lettres
                </td>
            </tr>
            <tr>
                <td><input type="range" id="tentatives" name="tentatives" style="width: 100vh;"
                    value="6" min="3" max="15" oninput="this.nextElementSibling.value = this.value">
                    <output>6</output> tentatives
                </td>
            </tr>
            <tr>
            <tr>
                <td><input type="range" id="difficulte" name="difficulte" style="width: 100vh;"
                    value="2" min="1" max="3" oninput="this.nextElementSibling.value = this.value">
                    Niveau de difficulté : <output>2</output>
                </td>
            </tr>
            <tr>
                <td>
                    <input class="playbutton centerbox" type="submit" value ="Jouer">
                </td>
            </tr>
            </form>
        </tbody>
    </table>

{% endblock %}