:root {
    --primary_color: #334a94;

    --keyboard_neutral: #25c9c973;
    --keyboard_wrong_place: #88a524;
    --keyboard_good_place: #ff0404;
    --taille_cote_case: 50px;

    --grille_jeu_neutral: #595959;

    --header-bg: #424242;
    --footer-bg: var(--header-bg);
    --header-bg-hover: #3d3d3d;

    --log-btn: #47AB11;
    --ins-btn: #1184E8;
    --play-btn: #47AB11;
    --error-msg: #da0f0f;
}

html, body {
    height: 100%;
    margin: 0;
    --background-color: var(--primary_color);
}

body {
    display: flex;
    flex-direction: column;
}

header {
    height: 40px;
    border-bottom: solid 1px rgba(7%, 7%, 7%, 0.2);
    background-color: var(--header-bg);
    padding: 5px 10px;
    -position: sticky; /*le header suit le défilement, utile pour les longues pages*/
    top: 0;
    z-index: 10000;
    text-align: center;
}

header .inheader {
    width: 100%;
    height: 100%;
    display: block;
}

#titre_jeu {
    position: absolute;
    font-size: 2em;
    color: white;
    margin: 0px -50px;
}

header nav li {
    display: table;
    height: 100%;
    float: left;
    margin-right: 30px;
    font-family: Verdana;
    text-decoration: none;
    border-radius: 10px;
}

header nav li:hover {
    background-color: var(--header-bg-hover);
}

header nav li:last-of-type {
    float: right;
    margin-right: 5px;
}

header nav li a {
    display: table-cell;
    vertical-align: middle;
    color: white;
    text-decoration: none;
}

header nav li a.logbutton {
    background-color: var(--log-btn);
    padding: 10px 20px;
    border-radius: 4px;
}

header nav li a.logbutton:hover {
    filter: brightness(1.05);
}

main {
    flex-grow: 1;
}

.bottom {
    width: 100%;
    background-color: var(--footer-bg);
    margin-top: 20px;
    text-align: center !important;
    color: white;
    font-family: Verdana;
}

.playbutton {
    border: 0;
    font-size: 5rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 4px;
    background-color: var(--play-btn);
    background-image: linear-gradient(to top left,
    rgba(0, 0, 0, .2),
    rgba(0, 0, 0, .2) 3%,
    rgba(0, 0, 0, 0));

}

.playbutton:hover {
    filter: brightness(1.05);
}

.playbutton:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
    inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.center {
    width: 100vh;
    height: 50vh;
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.centerbox {
    width: 100%;
    height: 100%;
    position: relative;
}

#clavier {
    font-size: 2em;
    margin-top: 5px;
    animation: keyboard-entrance 0.65s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.animation_shake {
    animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

.ligne {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.lettre, .control_btn {
    width: 50px;
    height: 45px;

    margin: 3px;
    padding: 9px 2px 2px;
    border-radius: 4px;
    background-color: var(--keyboard_neutral);
    color: white;
    text-shadow: 1px 1px 1px #000;
    cursor: pointer;

    display: flex;
    align-content: center;
    justify-content: center;

    border: 3px solid white;

}

.lettre:hover, .control_btn:hover {
    filter: brightness(1.15);
}

.control_btn {
    margin-top: 15px;
    width: fit-content;
    padding-left: 4px;
    padding-right: 4px;
}

.grille_jeu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-spacing: 5px 8px;
    margin-top: 20px;
}


.grille_jeu tr td {
    height: 50px;
    width: 50px;
    margin: 0;
    padding: 0;
    background-color: var(--grille_jeu_neutral);

    text-align: center;
    font-size: 2em;
    border-radius: 5px;

    color: white;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.error_msg {
    margin: auto auto;
    padding: 5px;
    border-radius: 4px;
    text-align: center;
    color: #ffffff;
    background-color: var(--error-msg);
}

form {
    width: 350px;
    display: block;
}

form .form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    position: relative;
}

form input {
    width: 100%;
    outline: none;
    background-color: #fff;
    border-radius: 4px;
    border: none;
    display: block;
    padding: 0.9rem 0.7rem;
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
    font-size: 17px;
    color: #4A4A4A;
}

form .log-btn {
    cursor: pointer;
    display: inline-block;
    margin: 0 auto;
    padding: 0.9rem 2.5rem;
    text-align: center;
    background-color: var(--log-btn);
    color: #fff;
    border-radius: 4px;
    box-shadow: 0px 3px 6px rgb(0 0 0 / 16%);
    font-size: 17px;
}

form .ins-btn {
    cursor: pointer;
    display: inline-block;
    margin: 0 auto;
    padding: 0.9rem 2.5rem;
    text-align: center;
    background-color: var(--ins-btn);
    color: #fff;
    border-radius: 4px;
    box-shadow: 0px 3px 6px rgb(0 0 0 / 16%);
    font-size: 17px;
}

hr.ligne {
    border-top: 0 solid white;
    margin-top: 30px !important;
    margin: auto;
    width: 400px;
}

.text {
    margin-top: 20px;
    margin-left: 20%;
    position: relative;
    color: white;
    font-family: Verdana;
}

.leadergrid {
    display: grid; /*ça devient moche quand on rétrécit la fenêtre*/
    grid-template-areas:
    'leaderboard stats';
    width: 80%;
    height: 90%;
    margin: 20px 19%;
}

.leaderboard {
    grid-area: leaderboard;
    border-collapse: collapse;
    width: 15%;
    border: 1rem solid;
    border-color: var(--header-bg);
}

.leaderboard th, td {
    text-align: center;
    padding: 10px;
    font-family: Verdana;
    font-size: 20px;

}

.leaderboard tr:nth-child(even) {
    background-color: #f2f2f2
}

.leaderboard tr:nth-child(odd) {
    background-color: #fff
}

.leaderboard th {
    background-color: var(--ins-btn);
    color: white;
}

#color-1 {
    font-weight: bold;
    color: gold;
}

#color-2 {
    font-weight: bold;
    color: silver;
}

#color-3 {
    font-weight: bold;
    color: #cd7f32;
}

.stats-block {
    grid-area: stats;
    display: block;
    width: 60%;
    background-color: #ffffff;
    margin: 50px;
    border: 1rem solid;
    border-color: var(--header-bg);

}

.stats {
    display: block;
    padding: 30px;
    font-family: Verdana;
    font-size: 30px;
    border-color: #595959;
    border-width: 30px;
}

.stats ul {
    list-style: none;
}

.stats hr {
    border: 0px;
}

.message {
    position: absolute;
    top: 60px;
    color: white;
    text-shadow: 1px 1px 1px #000;
    font-family: Verdana;
    font-size: 20px;
}

#end-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 400px;
    width: 400px;
    color: white;
    text-shadow: 1px 1px 1px #000;
    font-family: Verdana, serif;
    font-size: 70px;
    text-align: center;
    border-radius: 10px;
}

.end {
    animation: shadow-pop-animation 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
    padding: 5px 5px 15px;

}

.victoire {
    background-color: #016501;
}

.defaite {
    background-color: #af3232;
}

.button {
    border: 0;
    font-size: 3rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    background-color: var(--play-btn);
    background-image: linear-gradient(to top left,
    rgba(0, 0, 0, .2),
    rgba(0, 0, 0, .2) 3%,
    rgba(0, 0, 0, 0));
    text-decoration: none;
    box-shadow: 4px 4px 2px 3px rgba(42, 54, 54, 0.6);
    padding: 4px;
    animation: shadow-pop-animation 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
    border-radius: 14px;
}

.button:hover {
    filter: brightness(1.05);
    font-size: 47px;
}

.grille_jeu tr td {
    animation: lettersRotation .65s linear both
}

body {
    background: linear-gradient(129deg, #381515, #373815, #273815, #153824, #153138, #151938, #2a1538, #371538, #381515);
    background-size: 1800% 1800%;
    animation: AnimationGradientBackground 25s ease infinite;
}

@keyframes AnimationGradientBackground {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes shadow-pop-animation {
    0% {
        box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e,
        0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
        transform: translateX(0) translateY(0);
    }
    100% {
        box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e,
        5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
        transform: translateX(10px) translateY(10px);
    }
}

@keyframes lettersRotation {
    0% {
        transform: scale(0) rotateZ(0)
    }
    100% {
        transform: scale(1) rotateZ(360deg)
    }
}

/* ----------------------------------------------
 * Generated by Animista on 2022-4-28 9:9:28
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
@keyframes keyboard-entrance {
    0% {
        transform: translateY(1000px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* ----------------------------------------------
 * Generated by Animista on 2022-4-28 9:18:14
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
@keyframes shake-horizontal {
    0%,
    100% {
        transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70% {
        transform: translateX(-10px);
    }
    20%,
    40%,
    60% {
        transform: translateX(10px);
    }
    80% {
        transform: translateX(8px);
    }
    90% {
        transform: translateX(-8px);
    }
}

