:root {
    --_primary_color: #264e2e;
    --primary_color: #334a94;
    --keyboard_neutral: #25c9c973;
    --keyboard_wrong_place: #88a524;
    --keyboard_good_place: #ff0404;
    --taille_cote_case: 50px;

    --grille_jeu_neutral: #595959;
    --_header-bg: #184010;
    --header-bg: #404ba6;
}

html, body {
    height: 100%;
    margin: 0;
    background-color: var(--primary_color);
}

body {
    display: flex;
    flex-direction: column;
}

header {
    height: 40px;
    border-bottom: solid 1px rgba(7%, 7%, 7%, 0.2);
    background-color: var(--header-bg);
    padding: 5px 10px;
    -position: sticky; /*le header suit le défilement, utile pour les longues pages*/
    top: 0;
    z-index: 10000;
    text-align: center;
}

header .inheader {
    width: 100%;
    height: 100%;
    display: block; /*je ne vois pas à quoi ça sert ça*/
}

#titre_jeu {
    position: absolute;
    font-size: 2em;
    color: white;
    margin: 0px -50px;
}

header nav li {
    display: table;
    height: 100%;
    float: left;
    margin-right: 30px;
    font-family: Verdana;
    text-decoration: none;
}

header nav li:last-of-type {
    float: right;
    margin-right: 5px;
}

header nav li a {
    display: table-cell;
    vertical-align: middle;
    color: white;
    text-decoration: none;
}

header nav li a.logbutton {
    background-color: #47AB11;
    padding: 10px 20px;
    border-radius: 4px;
}

header nav li a.logbutton:hover {
    filter: brightness(1.05);
}

main {
    flex-grow: 1;
}

.bottom {
    width: 100%;
    background-color: #333;
    margin-top: 20px;
    text-align: center !important;
    color: white;
    font-family: Verdana;
}

.playbutton {
    border: 0;
    font-size: 5rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 4px;
    background-color: #1ab26b;
    background-image: linear-gradient(to top left,
    rgba(0, 0, 0, .2),
    rgba(0, 0, 0, .2) 3%,
    rgba(0, 0, 0, 0));

}

.playbutton:hover {
    filter: brightness(1.05);
}

.playbutton:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
    inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.center {
    width: 100vh;
    height: 50vh;
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.centerbox {
    width: 100%;
    height: 100%;
    position: relative;
}

#clavier {
    font-size: 2em;
    margin-top: 100px;
}

.ligne {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.lettre, .control_btn {
    width: 50px;
    height: 45px;

    margin: 3px;
    padding: 9px 2px 2px;
    border-radius: 4px;
    background-color: var(--keyboard_neutral);
    color: white;
    text-shadow: 1px 1px 1px #000;
    cursor: pointer;

    display: flex;
    align-content: center;
    justify-content: center;

    border: 3px solid white;
}

.lettre:hover, .control_btn:hover {
    filter: brightness(1.15);
}

.control_btn {
    margin-top: 15px;
    width: fit-content;
    padding-left: 4px;
    padding-right: 4px;
}

.grille_jeu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-spacing: 5px 8px;
    margin-top: 20px;
}

.grille_jeu tr td {
    height: 50px;
    width: 50px;
    margin: 0;
    padding: 0;
    background-color: var(--grille_jeu_neutral);

    text-align: center;
    font-size: 2em;
    border-radius: 5px;

    color: white;
}

.body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

form {
    width: 350px;
    display: block;
}

form .form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    position: relative;
}

form input {
    width: 100%;
    outline: none;
    background-color: #fff;
    border-radius: 4px;
    border: none;
    display: block;
    padding: 0.9rem 0.7rem;
    box-shadow: 0px 3px 6px rgb(0 0 0 / 16%);
    font-size: 17px;
    color: #4A4A4A;
}

form .btn {
    cursor: pointer;
    display: inline-block;
    margin: 0 auto;
    padding: 0.9rem 2.5rem;
    text-align: center;
    background-color: #47AB11;
    color: #fff;
    border-radius: 4px;
    box-shadow: 0px 3px 6px rgb(0 0 0 / 16%);
    font-size: 17px;
}




