<header> <!--ceci est l'entête du site-->
    <span id="titre_jeu">MOZA</span>
    <nav class="inheader">
        <li><a href="../menu">Menu</a></li>
        <li><a href="../leaderboard">Leaderboard</a></li>
        <li><a href="../regles">Règles</a></li>
        {%if not session.pseudo%}
        <li><a href="/login" class="logbutton">Login</a></li>
            {% else %}
        <li><a href="/logout" class="logbutton">Logout of {{session.pseudo}}</a></li>
        {% endif %}
    </nav>
</header>