<header> <!--ceci est l'entête du site-->
    <nav class="inheader">
        <li><a href="../pages/Menu.html">Menu</a></li>
        <li><a href="../pages/Leaderboard.html">Leaderboard</a></li>
        <li><a href="../pages/Regles.html">Règles</a></li>
        <a href=""></a>
        {%if not session.mail%}
        <li><a href="/login" class="logbutton">Login</a></li>
            {% else %}
        <li><a href="/logout" class="logbutton">Logout of {{session.fname}}</a></li>
        {% endif %}
    </nav>
</header>