<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="../static/header_layout.css">
<link rel="icon" type="image/x-icon" href="static/leaf.png">
{%block css%}

{%endblock%}
<title>Drevocratia</title>
</head>
<body>
<header> <!--ceci est l'entête du site-->
    <nav class="inheader">
        <li><a href="/">Règles</a></li>
        <li><a href="/problematiques">Parametres</a></li>
        <li><a href="/help">Leaderboard</a></li>
        {%if not session.mail%}
        <li><a href="/login" class="logbutton">Login</a></li>
            {% else %}
        <li><a href="/logout" class="logbutton">Logout of {{session.fname}}</a></li>
        {% endif %}
    </nav>
</header>
<main> <!--ceci est le corps du site, qui change en fonction des pages-->
{%block header%} 
{% endblock %}
</main>
<footer class="bottom"> <!--ceci est le pied du site-->
	<p>Drevocratia &nbsp;&nbsp; Voisin Victor &nbsp;Chanel Valentin&nbsp;Pallet Thomas&nbsp;Elaziz Elyas</p>
	<img src="../static/leaf.png" width="50" height="50">
</footer>

</body>

</html>